<!-- 
    <div>
  <a class="internal-link" href="{{ site.baseurl }}/"
    ><b>{{ site.title }}</b> <a class="internal-link" href="/wiki"> / wiki </a>
    <a class="internal-link" href="/now"> / now </a>
    <a class="internal-link" href="/then"> / then </a></a
  ><a class="internal-link" href="/colophon">/ colophon </a>
</div>

-->

<div class="topnav">
  <a class="internal-link" href="{{ site.baseurl }}/""
    ><b>{{ site.title }}</b> 
    <div class="topnav-right" style="float: right;">
    <a class="internal-link" href="/now"> 🎯 now |</a>
    <a class="internal-link" href="/then"> ⏮ then | </a></a
  ><a class="internal-link" href="/colophon"> ⚙️ colophon</a>
</div>
</div>

